.btn .check-product:hover {
    color: $white;
  }

  .router-btn:hover{
    background: $secondary;
    a{
      color: $white;
    }
    
  }

  .perClub-pic{
    width: 120px;
    height: 100px;
    object-fit: cover;
   }
   